<!DOCTYPE>
<html ng-app="myApp">

<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

    <title>Power Desk</title>

</head>


<body>
    <script src="scripts/ejs.js"></script>
    <script src="scripts/helper.js"></script>
    <% var username ="Alexa"%>
        <% if (listJson != undefined && listJson.UserInfo != undefined && listJson.UserInfo.username != undefined) { %>
        <% username = listJson.UserInfo.username %>
        <%}%>
    <%- include navbar.ejs %>
    <% var entityType = "Rules" %>
    <% var entityCount = 0; %>
        <% if(listJson.type != undefined)
        {
            var data = JSON.stringify(listJson.list);
            const rows = data;
            var jsonList = JSON.parse(data);
            //jsonList is a list of rules/defn [{name:sdfsdf,name:sdssdf}]
            var entityCount = jsonList.length;
            entityType = listJson.type;
        } %>
        <table class="table-light text-center" id="listEntity" style="margin-top: 100px; border: none; position: absolute; right:50%;"  >
            <th style="margin-bottom: 30px;" class="text-center">
                <%= entityType + " List" %>
            </th>
                <%if (entityCount !=undefined){%>
                <% for(var i=0; i < entityCount ;i++ ) {%>
                   <tr style="margin-top:20px;">  
                        <td>
                            <div>
                                <div class="text-center" style="margin-bottom:30px; margin-top: 20px;">
                                   <%var redirect_url = "http://localhost:3030/ruleTemplate?name="+ jsonList[i].name  + "&username=" + username %>
                                    <a href=<%= redirect_url %> class="btn-primary btn" style="width: 300%;"><%= jsonList[i].name %></a>
                                </div>
                            </div>
                        </td> 
                    </tr>
                <% } %>
                <%}%>
        </table>
        <div class="form-group row" style="position:absolute; right:20%;">
            <div class="col-xs-10">
                <a href="http://localhost:3030/ruleTemplate?name=fetchInvoice&username=shanmuga" class="btn btn-success">Submit</a>
            </div>
        </div>



    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.12/angular.min.js"></script>
    <script src="controllers/controller.js"></script>
    <script src="js/jquery-1.10.2.js"></script>
</body>

</html>