<!DOCTYPE>
<html ng-app="myApp">

<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

    <title>Power Desk</title>

</head>


<body>
    <script src="scripts/ejs.js"></script>
    <script src="scripts/helper.js"></script>
    <% var user =""%>
    <% if (username != undefined) { %>
        <% user = username %>
            <%}%>
    <%- include navbar.ejs %>

    <div class="container text-center" style="margin-top: 100px;">
       <div class="form-group row" style="width: max-content; position: fixed; right: 50%; left:40%;">
        <div class="col-xl-30 text-center">
            <a href="https://www.chargebee.com/docs/index.html" class="btn btn-info">Click here to search on Chargebee docs</a>
        </div>
    </div>
    <div class="container text-center" style="margin-top: 100px;">
        <div class="form-group row" style="width: max-content; position: fixed; right: 50%; left:40%;">
         <div class="col-xl-30 text-center">
             <a href="https://mychargebee.atlassian.net/wiki/spaces/KB/overview" class="btn btn-info">Click here to search on Knowledge Base</a>
         </div>
     </div>
    </div>
    <div class="container text-center" style="margin-top: 100px;">
        <div class="form-group row" style="width: max-content; position: fixed; right: 50%; left:40%;">
         <div class="col-xl-30 text-center">
             <a href=" https://mychargebee.atlassian.net/issues/?jql=issuetype%20%3D%20%22Customer%20Reported%20Issue%22%20order%20by%20created%20DESC" \
             class="btn btn-info">Click here to search on Customer reported JIRA tickets</a>
         </div>
     </div>
    </div>
   


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.12/angular.min.js"></script>
    <script src="controllers/controller.js"></script>
    <script src="js/jquery-1.10.2.js"></script>
</body>

</html>